# Зависимости
node_modules/
**/node_modules/
TimeLinePlanner/frontend/node_modules/
.pnp
.pnp.js

# Сборка
dist/
build/

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

# Окружение
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store